extends base

block content
    main 
        div#find
            form
                input(type="text", placeholder="room name", required)
                button Enter room
        div#call
            div#myFace
                video(autoplay, playsinline, width="400", height="400")
                button#mute Mute
                button#camera Turn off Camera
                select#cameraSelect
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 