extends base

block content
    main 
        div#nickname
            form
                input(type="text", placeholder="nickname", required)
                button Save
        div#find
            form 
                input(type="text", placeholder="room name", required)
                button Enter Room
            h4 Open Rooms: 
            ul
        div#room
            h3
            ul
            form#message
                input(type="text", placeholder="Write a message...", required)
                button Send Message
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 