extends base

block content
    main 
        div#myStream
            video(autoplay, playsinline, width="400", height="400")
            button#mute Mute
            button#camera Turn off Camera
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/video.js") 